html {
  box-sizing: border-box;
  border-width: 2px;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: ;
}

article {
  display: block;
  line-height: 1.3;
  font-family: "Crimson Text", serif;
}

article header {
  margin-bottom: 1.3rem;
  padding-right: 1em;
  padding-left: 1em;
}

article h1 {
  font-weight: normal;
  color: #222;
}

article header p {
  font-style: italic;
  color: #555;
}

article p {
  color: #555;
}

article ol {
  color: #555;
}

blockquote {
  display: inline;
}

.quote {
  color: #999;
}
